APP_NAME=Aletheia

# Database configuration
DATABASE_URL=jdbc:mysql://db:3306/ai_doctor
DATABASE_NAME=ai_doctor
DATABASE_USER=ai_doctor_user
DATABASE_PASSWORD=ai_doctor_password
DATABASE_ROOT_PASSWORD=root

DATABASE_SHOW_SQL=true
DATABASE_GENERATE_DDL=true
DATABASE_DDL_AUTO=update

# JWT configuration
APP_SECRET=ZnNw1f2BbiknK5cO2ZZSYR0wFBGkwyOPpgsIFcsJ0rnzjd3flzPhD61o63HhUTrEkiywtrWZ48i/2nT7JJSelnOHmJWITaCOUgE1a8O5PHdQIq0vI8On/BUIXb1YWCISK+PNqnxxhRMikKtD8ibQAUuejtOdUHFyitYBX1tCkLA=
JWT_TOKEN_EXPIRATION=365

# AWS S3
AWS_S3_BUCKET_NAME=
AWS_S3_BUCKET_REGION=us-east-2
AWS_S3_DIRECTORY=
AWS_KEY=
AWS_SECRET=

# Cloudfront
AWS_CLOUDFRONT_KEY_ID=
AWS_CLOUDFRONT_KEY_PATH=
AWS_CLOUDFRONT_DOMAIN=

# Models API URL
MODELS_API_URL=http://python_models:4000
MODELS_UPLOAD_PATH=/uploads/

PORT=9000
